<p>
  <strong>DESTROY!!!!!</strong>
</p>

<label>Topics:<label><div class="topic-small-circle"></div>
<label>Influencers:<label><div class="influencer-small-circle"></div>
<label>Influencees:<label><div class="influencee-small-circle"></div>



<% @topics.each do |topic| %>
  <div class="circle particle">
    <img src="<%= topic['imageUrl'] %>"/>
  </div>  
<% end %>

<% @influencers.each_with_index do |influencer, i| %>
  <div class="influencer-circle particle" style="width:<%= 50 + (i * 20)  %>px;height:<%= 50 + (i * 2) %>px">
    <img src="<%= influencer['twitterUrl'] %>" />
  </div>  
<% end %>

<% @influencees.each_with_index do |influencee, i| %>
  <div class="influencee-circle particle" style="width:<%= 50 + (i * 20)  %>px;height:<%= 50 + (i * 2) %>px">
    <img src="<%= influencee['twitterUrl'] %>" />
  </div>  
<% end %>
<script type="text/javascript" src="/js/asteroids.js"></script>